*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 98%;
  margin-left: 1rem;
  height: 900px;
  border: black solid 2px;
}
.top{
  border: red solid 2px;
  height: 100px;
  width: 100%;
}
